
header {
    font-size: 15px;
    font-family: $fauna;

    .navbar {
        list-style-type: none;
        font-size: 1.625em;
        background-color: $fondoNav;

        .logo {
            margin: 5px;
            width: 90px;
            
        }

        li {
            a {
                text-decoration: none;
                color: $fuxia;
                
                &:hover {
                    color: $hoverA;
                    font-weight: bold;
                    
                    transform: scale(1.1);
                }
            }

        }

    }
}

.navbar-toggler{
    border: $fondoNav!important;
}



main {
    font-family: 'Fauna One', serif;
    font-size: 13px;
    min-height: 80vh;
    h1 {
        color: $rosaTerroso;
        font-size: 3.5em;
        @include caja-flex (center, start, row nowrap);
    }
}



ul {
    list-style-type: none;
}

a {
    text-decoration: none;

}

.img-thumbnail {
    
    margin-left: 25vw;
    margin-bottom: 10px;
    text-align: center;
    
}

.opacity {
    opacity: 0;
}

.searchhead {
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 12.5em;
}


/*.container {
    width: 80%;
    margin: auto;
}*/

.presentacion {
    margin-bottom: 1.2em;
}

footer {
    font-size: 10px;
    background-color:$fondoNav;
    height: 40px;
    @include caja-flex (space-between, center, row nowrap);

    p {
        color:$lavandaVieja;
        font-size: 1.1em;
    }

    div .iconfoot {

        position: relative;
        height: 3em;
        width: 5em;
    }
}




