.mainIndex {


    .mainimg {
        margin-top: 76px;

        h2 {
            display: block;
            text-align: center;
            font-size: 2.8em;
            font-family: 'Fauna One', serif;
            color: rgb(242, 148, 165);
            font-weight: bold;
        }

        div {
            font-size: 10px;
            margin-bottom: 1.75em;

            img {
                width: 35em;
                height: 35em;
                margin: 15px;
                &:hover{
                    box-shadow:5px 8px 12px $platinum ;
                    opacity: 0.95;
                    
                }

            }

           
        }


    }

}





/*.mainProd {
    .indiceprod {
        position: relative;

        a img {
            position: relative;
            width: 35em;
            height: 32em;
            margin: 15px;

            &:hover {
                opacity: 0.8;
            }
        }


        .aclaracion {
            position: relative;
            display: block;
            text-align: center;
            opacity: 0.8;
            font-family: 'Fauna One', serif;
            color: #df96c2;
            font-size: 2em;
            background-color: #3a2b2a;
            margin-left: 20px;
            margin-right: 15px;
        }

    }

    .divisiones {
        margin-top: 200px;
        font-size: 10px;

        .subindpro {
            display: flex;
            justify-content: center;
            font-size: 2em;

            h2 {
                color: rgb(242, 148, 165);
            }

            ul li a {
                font-size: 1em;
                font-family: 'Fauna One', serif;
                font-weight: bold;
                color: #ffafccff;

                &:hover {
                    color: #b392acff;
                }

            }


        }

        .grid-container {
            max-width: 850px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-items: center;
            justify-content: center;
            grid-row-gap: 15px;

            div {
                width: 25em;
                height: 25em;
                overflow: hidden;
                border-radius: 25%;

                .prod2a {

                    width: 26em;
                    height: 27em;

                    
                    &:hover {
                        transform: scale(1.1) translate(3px, 3px);
                        transition: 1s;
                    }
                }

                .prod2b {
                    width: 37em;
                    height: 25em;

                    &:hover {
                        transform: scale(1.1) translate(3px, 3px);
                        transition: 1s;
                    }
                }


                .prod2c {
                    width: 25em;
                    height: 29em;

                    &:hover {
                        transform: scale(1.1) translate(3px, 3px);
                        transition: 1s;
                    }
                }

                .prod2d {
                    position: relative;
                    width: 35em;
                    height: 35em;

                    &:hover {
                        transform: scale(1.1) translate(3px, 3px);
                        transition: 1s;
                    }
                }
            }

        }
    }

}*/





.mainProm {
    scroll-behavior: smooth;

    section {
        @include caja-flex (space-between, center, row nowrap);
        background-color: $fondoNav  !important;
        position: sticky;
        top: 0px;
        z-index: 1;
        box-shadow: 0 0 15px 0 $fondoNav;

        .active {
            border-radius: 10px;

            background-color: $li  !important;

            color: $blanco  !important;

            box-shadow: 5px ($rosa/ 30%);
        }

        span {
            font-family: $cursiva;
            font-size: 2.5em;
            color: $lavandaVieja;

        }

        ul {
            @include caja-flex (space-between, center, row nowrap);
            font-size: 13px;

            li {
                a {
                    @include caja-flex(center, center, row nowrap);
                    height: 2.5em;
                    overflow: hidden;
                    font-size: 1.7em;
                    color: $rosa ;
                    font-family: $fauna;

                    &:hover {
                        color: $hoverA;
                        font-weight: bold;
                    }


                }

                img {
                    @extend %tamanoLogo;
                    /*aspect-ratio: 1 / 1;*/

                }
            }


        }


    }

    .scrollspy-example {
        background-color: $blanco  !important;

        .divisiones {
            margin-top: 70px;
            font-size: 10px;

            h1 {
                position: absolute;
            }

            .subindpro {
                display: flex;
                justify-content: center;
                font-size: 2em;

                h2 {
                    color: rgb(242, 148, 165);
                }

                ul li a {
                    font-size: 1em;
                    font-family: 'Fauna One', serif;
                    font-weight: bold;
                    color: $rosa;

                    &:hover {
                        color: $hoverA;
                    }

                }


            }

            .grid-container {
                font-size: 10px;
                max-width: 850px;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                justify-items: center;
                justify-content: center;
                grid-row-gap: 15px;

                div {
                    width: 25em;
                    height: 25em;
                    overflow: hidden;
                    border-radius: 25%;
                    position: relative;
                    p {
                    @include caja-flex(center, center, row wrap);
                      font-size: 2.25em;
                      color:$orquidea;
                      border-radius: 15%;
                      position: absolute;
                      padding: 0.65em;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      opacity: 0;
                      background-color: $rosaTerroso;
                      text-align: center;
                      text-shadow: 0 0 8px black;
                      a{
                        margin-top: 0.2em;
                        color: $li;
                        font-weight: bold;
                        &:hover{
                            color: $hoverA;
                        }
                      }
                      &:hover {
                        opacity: 0.9;
                        transition: 1s;
                      }
                    }
                    .prod2a {

                        width: 26em;
                        aspect-ratio: 1 / 1;


                        /*margin: 15px;*/
                        &:hover {
                            transform: scale(1.1) translate(3px, 3px);
                            transition: 1s;
                        }
                    }

                    .prod2b {
                        width: 45em;


                        &:hover {
                            transform: scale(1.1) translate(3px, 3px);
                            transition: 1s;
                        }
                    }


                    .prod2c {
                        width: 37em;
                        /*height: 29em;*/


                        &:hover {
                            transform: scale(1.1) translate(3px, 3px);
                            transition: 1s;
                        }
                    }

                    .prod2d {
                        position: relative;
                        width: 27em;
                        /* height: 35em;*/


                        &:hover {
                            transform: scale(1.1) translate(3px, 3px);
                            transition: 1s;
                        }
                    }

                }

            }
        }
    }



}




.mainContact {
    font-size: 16px;
    min-height: 80vh;

    .contform {
        @include caja-flex (center, center, column nowrap);

        input,
        select {
            margin-top: 0.75rem;
            border-radius: 0.25rem;
            border: 2px solid $formBorder;
            height: 2.3em;
            font-size: 1em;
            padding-left: 1.15em;
            outline-color: $li;

            color: $form;

            &::placeholder {
                color: $form;
            }

        }

        textarea {
            border: 2px solid $label;
            font-size: 1em;
            border-radius: 0.25rem;
            color: $form;
            width: 16em;
        }



        label {
            margin-top: 0.5em;
            font-family: 'Fauna One', serif;
            font-size: 1.15em;
            color: $pink-lavender;
            font-weight: bold;
        }

        .boton {

            background-color: $formbtn;
            color: $rosaTerroso;
            font-weight: bold;
            box-sizing: 3em;

        }


    }
}

.mainNos {
    font-size: 15px;
    min-height: 80vh;

    img {

        margin-top: auto;
        margin-bottom: 0px;
        min-width: 100vw;
    }

    .uberuns {
        width: 50em;
        @include caja-flex (center, center, nowrap);

        /*.decoim {
            width: 50em;
            height: 9.5em;
            opacity: 0.65;
            
        }*/

        .sntext {
            @include caja-flex (center, center, column nowrap);

            width: 50em;
            margin-left: 17vw;


            .snh {

                font-size: 2.1em;
                /*width: inherit;*/
                color: #735d78ff;
                font-weight: bold;
            }

            p {
                /* margin-left: 10vw;*/
                width: inherit;
                font-size: 1.2em;
                /*padding: 1.5em 8em;*/
                color: #b76962;
                /*overflow: hidden;*/
            }
        }
    }

}